# Energy Data Analysis
A notebook which demonstrates energy usage in British Homes

## Setup

In [17]:
import pandas as pd
import os
fp=r'C:\Users\cvyb\OneDrive - Loughborough University\ERBE_YB\Energy Analysis\Energy-Data-Analysis\CLEAN_REFIT_081116'

# Data Processing

In [ ]:
flag=True
for filename in os.listdir(fp):
    print(filename)
    path=os.path.join(fp,filename)
    df=pd.read_csv(path,parse_dates=['Time'])
    df=df.set_index('Time')
    df=df.resample('30T').mean()
    df=df.reset_index()
    df['file']=filename
    if flag:
        df2=df
        flag=False
    else:
        df2=df2.append(df)
df2.to_csv('NewData.CSV')

CLEAN_House10.csv
CLEAN_House11.csv
CLEAN_House12.csv
CLEAN_House13.csv
CLEAN_House15.csv
CLEAN_House16.csv
CLEAN_House17.csv
CLEAN_House18.csv
CLEAN_House19.csv
CLEAN_House2.csv
CLEAN_House20.csv
CLEAN_House21.csv
CLEAN_House3.csv
CLEAN_House4.csv
CLEAN_House5.csv
CLEAN_House6.csv
CLEAN_House7.csv

In [19]:
df['file']=filename
df.head()

,Time,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9,Issues,file
0,2013-11-20 11:31:18,1384947078,3078,0,70,0,0,0,2,25,0,0,0,CLEAN_House10.csv
1,2013-11-20 11:31:31,1384947091,3078,0,70,0,0,0,1,25,0,0,0,CLEAN_House10.csv
2,2013-11-20 11:31:45,1384947105,215,0,69,0,0,0,1,25,0,0,0,CLEAN_House10.csv
3,2013-11-20 11:31:58,1384947118,212,0,71,0,0,0,2,25,0,0,0,CLEAN_House10.csv
4,2013-11-20 11:32:18,1384947138,213,0,70,0,0,0,2,25,0,0,0,CLEAN_House10.csv